#home .home-container .service {
  margin-bottom: 12px;
}

#home .home-container .service .service-container {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: rgba(238, 238, 238, 0.226);
  border-radius: 2px;
}

#home .home-container .service .thumb {
  width: 40%;
  padding-right: 12px;
}

#home .home-container .service .thumb img {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 2px;
}

#home .home-container .service .info {
  padding: 12px;
}

#home .home-container .service .info h2 {
  font-weight: bold;
  color: var(--text-bold-color);
  margin-bottom: 2rem;
}

#home .home-container .service .info p {
  margin-bottom: .5rem;
}