#admin .main-content .page-container .category ul { 
  list-style: none;
  padding: 0;
  margin: 0;
}

#admin .main-content .page-container button.add {
  margin: 4px;
  padding: 4px 10px;
  border: 1px solid rgb(230, 230, 230);
  font-size: 1.1rem;
  font-weight: 500;
  color: blue;
  cursor: pointer
}

#admin .main-content .page-container button.add:hover {
  color: white;
  background: rgb(109, 119, 253);
}

#admin .main-content .page-container .category ul li {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(238, 236, 236);
}


#admin .main-content .page-container .category ul li span {
  padding: 8px;
  text-align: center;
}

#admin .main-content .page-container .category ul li.title {
  border-bottom: 1px solid rgb(0, 0, 0);
}

#admin .main-content .page-container .category ul li.title span {
  font-weight: 500;
  font-size: 1.1rem;
}

#admin .main-content .page-container .category ul li span.name {
  width: 33.333333%;
}

#admin .main-content .page-container .category ul li span.date {
  width: 33.333333%;
  border-left: 1px solid rgb(238, 236, 236);
  border-right: 1px solid rgb(238, 236, 236);
}

#admin .main-content .page-container .category ul li span.action {
  width: 33.333333%;
}

#admin .main-content .page-container .category ul li span.action button {
  border: none;
}

