<div th:fragment="footer">
  <div id='footer'>
    <div class='container'>
      <div class="footer-container">
        <div class="left">
          <p><strong>CƠ QUAN THÀNH PHỐ BẮC GIANG</strong></p>
          <p><strong>DỊCH VỤ CHO NHÂN DÂN</strong></p>
          <p><strong>CƠ QUAN CHỦ QUẢN: Dịch Vụ Bắc Giang</strong></p>
          <p>Địa chỉ: 381 Lê Lợi, TP Bắc Giang, Tỉnh Bắc Giang</p>
          <p>Điện thoại: 024 3877 458</p>
          <p>E-mail: dichvubg@gmail.com</p>
          <p>Giấy phép số: 373/GP-BTTTT của Bộ Thông tin và Truyền thông</p>
        </div>
        <div class="right">
          <p>Chịu trách nhiệm nội dung:</p>
          <p>Tổng biên tập: <strong>TS Trần Doãn Tiến</strong></p>
          <p>Các Phó Tổng biên tập: <strong>TS Nguyễn Công Dũng</strong></p>
          <p>Ủy viên Ban biên tập: <strong> ThS Phạm Đức Thái</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>